
  
.melo-home-info{
    border-radius: 30px;
    background: #000;
    flex-shrink: 0;
    /* width: 212px; */
    height: 60px;
    flex-shrink: 0;
    padding-left: 70px;
    padding-right: 10px;
    margin-left: 40px;
  }
  
  .melo-home-info-1{
    color: #F9752D;
    font-size: 16px;
    /* height: 30px;
    overflow: hidden; */
    font-weight: 700;
    letter-spacing: 0.8px;
    flex-shrink: 0;
    width: 160px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
  }

  .melo-home-info-2{
    color: #FFF;
    /* overflow: hidden;
    height: 20px; */
    font-size: 14px;
    font-weight: 500;
  }
  


  .melo-home-state-p{
    background-image: url('/glow.svg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;   
    width: 152px;
    height: 72px; 
    flex-shrink: 0;
    padding: 4px 16px;

   
  }
  .melo-home-state{
    border-radius: 7.915px;
  border: 0.396px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(144deg, #28272F 9.13%, #040404 62.89%);
  box-shadow: 0 0 4.749px 0 rgba(255, 255, 255, 0.40);
    width: 100%;
    height: 100%;
    border: 1px solid red;
  flex-shrink: 0;
  margin-right: 10px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .melo-home-state-text1{
    color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  }
  
  .melo-home-state-text2{
    background: linear-gradient(63deg, #EEF1F0 7.18%, #71757E 83.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 4px;
  }