.melo-home-nav-active{
    width: 70px;
    height: 5px;
    margin-left: 15px;
    border-radius: 10px 10px 0 0;
    background: #F9752D;
    box-shadow: 0 -4px 10px #F9752D;
    margin-top:10px;
  }
  
  .melo-nav-link{
    color: #838383;
  }
  
  .melo-nav-link:hover {
    color: #FFF;   
  }
  
  .melo-nav-link.active {
    color: #FFF;   
             
  }
  