
.top_item{display: inline-block; padding-right: 6px;padding-right: 6px; }
.top_item:hover{cursor:pointer; }
.top_order{color: dodgerblue; border-bottom: 2px solid dodgerblue}

.top_find_img{margin-right: -32px; z-index: 999;margin-top: 10px;}
.top_find_img:hover{ cursor: pointer;}

.top_find_input{
    border-radius: 12px !important;flex:1;padding-left: 40px !important; 
    width:'100%';
    max-width: 360px;
    color: #FFF;
    border: 0;
    background: #000;
  

  }
  

  .top_find_input:focus {
    color: #FFF;
    background: #000;
  }

  .top_find_input::placeholder {
    color: #7F7F7F;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
  }

