.melo-artist-edit-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

}

.melo-artist-eait-la{
    margin-top: 4px;
    padding: 12px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #343434;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    

}